h1 {
    font-family: Abril;
}

@font-face {
    font-family: Abril;
    src: url('../fonts/aff.ttf');
}

@font-face {
    font-family:JosefinSlab-Bold;
    src: url('../fonts/josefin_slab/josefinslab-bold.ttf');
}

@font-face {
  font-family: Vollkorn;
  src: url('../fonts/vollkorn-regular.ttf');
}


#budget_tbl {
    
}
