{% extends 'base.html' %}

{% block body_block %}
    <div class="container-fluid">
      {% for location in locations %}
      <div class="row">
	<div class="col-md-4"
<section><h1><u> {{ location.name }} </u></h1><br>
  <strong>Địa điểm:</strong> {{location.address }}, phường {{ location.ward }}, quận {{ location.district}}, {{ location.city }}.
  </section>
      </div>
      <div class="col-md-8 text-right">
    <iframe src="{{ location.map_link }}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </div>
    <hr/>
    {% endfor %}
    </div>
{% endblock %}
